html{
	height: 100%;
}
body{
	text-align: center;
	background-color: #EFEEF1;
	height: 100%;
	margin: 0px;
}
button::-moz-focus-inner {
  border: 0;
}
.container{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	height: 100%;
	background-color: #6541A5;
}
.app_header{
	width: 100%;
	font-family: sans-serif;
	color: white;
}
.twitch_logo{
	height: 30px;
}
.loading{
	transform-origin: center center;
	font-family: sans-serif;
}
.info{
	width: 100%;
	text-align: center;
	padding: 20px;
}
.thanks{
	color: #9F9F9F;
	font-size: .8em;
	font-family: sans-serif;
}
.thanks a{
	color: #CA6352;
	text-decoration: underline;	
}